/* .block {
  width: 70px;
} */

@import url('https://fonts.google.com/specimen/Poppins');


body {
  font-family: 'Poppins', sans-serif;
  /* color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  line-height: 1.58;
  letter-spacing: -.003em;
  font-size: 20px;
  padding: 70px; */
}

.main-block {
  margin-top: 60px;
 
}

.content {
   margin-top:90px !important;
   width: 84%;
   height: 80% ;
   margin:auto;
   background-color: white;
   border-radius: 30px;
}

.align_center {
  /* align-items: center !important;
  justify-content: center !important; */
  padding-top: 40px !important;
  text-align: center !important;

}

.buttons .button1 {
  margin-left: 10px !important;
  margin-right: 15px !important;
}
.buttons .button2 {
  /* margin-left: 10px !important; */
  margin-right: 15px !important;
}
.buttons .button3 {
  /* margin-left: 10px !important; */
  margin-right: 15px !important;
}
.buttons .button4 {
  /* margin-left: 10px !important; */
  margin-right: 15px !important;
}
.buttons .button5 {
  /* margin-left: 10px !important; */
  margin-right: 15px !important;
}
.buttons .button6 {
  /* margin-left: 10px !important; */
  margin-right: 15px !important;
}
.buttons .button7 {
   margin-left: 10px !important; 
  margin-right: 15px !important;
}
.buttons .button8 {
  /* margin-left: 10px !important; */
  margin-right: 15px !important;
}
.buttons .button9 {
  /* margin-left: 10px !important; */
  margin-right: 15px !important;
}
.buttons .button10 {
  /* margin-left: 10px !important; */
  margin-right: 15px !important;
}
.buttons .button11 {
  /* margin-left: 10px !important; */
  margin-right: 15px !important;
}
.buttons .button12 {
  /* margin-left: 10px !important; */
  margin-right: 15px !important;
}
.gap {
  height: 10px !important;
}

.green_button {

  background-color:#5DB11D;
  color:white;
  transform: translateX(-40px);

}

.line_through {
  text-decoration: line-through;
  padding-left: 250px;
}

.margin_top {
  margin-top: 35px;
}

.padding_left {
  padding-left: 230px;
}

.middle {
  
  padding-top: 30px;
  text-align: center;
  font-size: bold;
}


.expand {
   width: 400px;
   height: 50px;
}

/* .main_block {
  text-align: center;
  align-items: center;
} */

.App {
background-color:#00B4DB;
height: 900px ;
}


.box1 {
  padding-top: 30px !important;
  margin-top: 0px !important;
  /* display:flex !important; */
  /* justify-content: start !important;
  align-items: flex-start !important; */
}

.form {
  width: 500px !important;
  /* padding-right: 200px; */
  margin:auto;
}

.card {
  width: 500Px !important;
  height: 300px;
  margin:auto;
  border-radius: 30px ;
  border-color: #00B4DB;
}



@media (min-width: 576px) and (max-width: 767.98px) { 


  .content {
    /* margin-top:90px !important; */
    width: 82%;
    /* height: 80% ;
    margin:auto;
    background-color: white;
    border-radius: 30px;
 } */
}

.padding_left {
  padding-left: 130px;
}

.grade_text {
  padding-left: 10px;
  /* font-size: 18px; */
}

.card_title {
  padding-top: 20px;
  padding-left: 20px;
}

 .card {
   margin-bottom: 60px;
   width: 400px !important;
   height: 400px;
  /* margin:auto;
  border-radius: 30px ;
  border-color: #00B4DB;  */
}

.line_through {
   /* text-decoration: line-through; */
   padding-left: 180px;
} 


.coupon_container {
  width: 340px;
  padding-left: 35px;
  margin-bottom: 40px !important ;
}

.green_button {

  /* background-color:#5DB11D;
  color:white; */
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  transform: translateX(0px);

}

.margin_top {
  /* margin-top: 35px; */
  text-align: center;
  padding-left:75px ;
  margin-bottom: 20px;
}

.card_last_1_heading {
  padding-left: 50px;
}

.card_last_2_heading {
  padding-left: 50px;
}

.App {
  background-color:#00B4DB;
  height: 1600px ;
  }


/* 

.form {
  width: 420px !important;
  margin:auto;
}

/* .App {
  /* background-color:#00B4DB; */
  /* height: 1600px ;
  } */ 

}


@media (max-width: 575.98px) { 

  /* .content {
    width: 100%;
  } */

  .card {
    margin-top: 0px !important;
    margin-bottom: 20px;
    width: 300px !important;
    height: 310px;
    padding-top: 0px;
    transform: translatey(-45px);
   /* margin:auto;
   border-radius: 30px ;
   border-color: #00B4DB;  */
 }

 .card_body {
  padding-top: 30px ;
 }

 .card_title {
   padding-left: 10px;
 }

 .padding_left {
  padding-left: 55px !important;
}

.grade_text {
   padding-left: 10px;
   font-size: 18px;
}


.align_center {
  /* align-items: center !important;
  justify-content: center !important; */
  padding-bottom: 0px !important;
  font-size: 24px;
  font-weight:normal;
  /* width: 150px; */
  /* text-align: center !important; */

}

.line_through {
  /* text-decoration: line-through; */
  padding-left: 120px !important;
}

.margin_top {
    margin-top: 30px;
    padding-left: 50px;
}

 .form {
  width: 210px !important;
  margin:auto;
}

  
.App {
  background-color:#00B4DB;
  width: 400px !important;
  height: 1500px ;
  }

  .coupon_container {
           width: 260px;
           padding-left: 35px;
           margin-bottom: 40px !important;
  }

  .card_last_1_heading {
    padding-left: 50px;
  }

  .card_last_2_heading {
    padding-left: 50px;
  }

  .green_button {
/* 
    background-color:#5DB11D;
    color:white; */
    transform: translateX(-0px);
    padding-top: 7px;
    padding-left: 5px;
    padding-right: 5px;
  
  }


  .expand {
    width: 180px;
  }

  .form {
    width: 250px !important;
    margin:auto;
  }

  .padding_left {
    padding-left: 130px;
  }

  .line_through {
    text-decoration: line-through;
    padding-left: 100px;
  }

  .buttons > button {

    padding-left: 5px;
    padding-right: 5px;
  }

  .buttons .button5 {
    margin-top: 6px;
    margin-left: 10px !important;
    /* margin-right: 15px !important; */
  }
  .buttons .button6 {
    /* margin-left: 10px !important; */
    margin-top: 6px;
    margin-right: 15px !important;
  }

  .gap {
    display: none;
    height: 0px !important;
}

.buttons .button7 {

  transform: translate(98px,-41px);
  /* margin-left: 10px !important; 
 margin-right: 15px !important; */
}

.buttons .button8 {

  transform: translate(98px,-41px);
  /* margin-left: 10px !important; 
 margin-right: 15px !important; */
}

.buttons .button9 {

  margin-top: 6px;
  transform: translateX(-98px);
  /* margin-left: 10px !important; 
 margin-right: 15px !important; */
}


.buttons .button10 {

  margin-top: 6px;
  transform: translateX(-104px);

}

.buttons .button11 {

  margin-top: 6px;
  transform: translate(106px,-44px);
}

.buttons .button12 {

  margin-top: 6px;
  transform: translate(100px,-44px);

}

.expand {
  width: 200px;
  height: 40px;
}

/* .buttons .button10 {

  margin-top: 6px;
  transform: translateX(-104px);

} */
  /* padding-right: ;
  padding-left: ; */
  /* margin-left: 10px !important; 
 margin-right: 15px !important; */

/* 


 .buttons .button11 {

   transform: translate(98px);
   margin-left: 10px !important; 
   margin-right: 15px !important; 

} 


/* .buttons .button12 {

  transform: translate(98px,-38px); 
  /* margin-left: 10px !important; 
 margin-right: 15px !important; */
} 
  /* .margin_top {
    margin-top: 35px;
  }
   */
 

 @media (min-width: 768px) and (max-width: 991.98px) { 


  .card {
    /* margin-bottom: 40px;
    /* width: 250px !important; */ 
    /* height: 400px; */
    margin:auto ;
    /* margin-left: 90px !important; */
    margin-bottom: 100px;
   /* border-radius: 30px ;
   border-color: #00B4DB;   */
 }

 .card_title {
  padding-top: 10px;
  padding-left: 10px;
}

.line_through {
  /* text-decoration: line-through; */
  padding-left: 270px;
}

.grade_text {
  padding-left: 10px;
  /* font-size: 18px; */
}

.margin_top {
  /* margin-top: 30px; */
  padding-left: 120px;
  margin-bottom: 15px;
}

.coupon_container {
  width: 400px;
  padding-left: 90px;
  margin-bottom: 40px !important;
}


.green_button {
  /* 
      background-color:#5DB11D;
      color:white; */
      transform: translateX(-2px);
      padding-top: 7px;
      padding-left: 5px;
      padding-right: 5px;
    
    }

    .card_last_1_heading {
      padding-left: 50px;
    }
  
    .card_last_2_heading {
      padding-left: 50px;
    }
  


 .form {
  padding-left: 100px;
  padding-right: 100px;
  /* transform: translateY(300px) !important; 
  transform: translateX(-120px); */
  width: 330px !important ;
  margin:auto;
}

.App {
  /* background-color:#00B4DB;
  width: 400px !important; */
  height: 1600px ;
  }

 
/* 
  .buttons .button12 {
    /* margin-left: 10px !important; */
     /* margin-top: 15px; */
  /* }  */


  }

   @media (min-width: 992px) and (max-width: 1199.98px) { 


     
.card {
  width: 350px !important;
  /* height: 300px;
  margin:auto;
  border-radius: 30px ;
  border-color: #00B4DB; 
}




.card_title {
  padding-top: 10px;
  padding-left: 10px;
}

.line_through {
  /* text-decoration: line-through; */
  /* padding-left: 120px; */
}

.grade_text {
  padding-left: 10px;
  /* font-size: 18px; */
}

.padding_left {
  padding-left: 90px;
}


.line_through {
  /* text-decoration: line-through; */
  padding-left: 120px;
}

.margin_top {
  /* margin-top: 30px; */
  padding-left:70px;
  margin-bottom: 15px;
}

.card_title {
  padding-top: 10px;
  padding-left: 20px;
}

.coupon_container {
  width: 300px;
  padding-left: 50px;
  margin-bottom: 40px !important;
}

.green_button {
  /* 
      background-color:#5DB11D;
      color:white; */
      transform: translateX(0px);
      padding-top: 7px;
      padding-left: 5px;
      padding-right: 5px;
    
    }

    .card_last_1_heading {
      padding-left: 50px;
    }
  
    .card_last_2_heading {
      padding-left: 50px;
    }
  
    /* .buttons > button {

      /* margin-left: 10px; */
      /* margin-right: 20px !important; */

      /* padding-left: 5px;
      padding-right: 5px; */
  
      .buttons .button1 {

         margin-right: 15px !important;
        /* margin-top: 6px;
        transform: translate(106px,-44px); */
      }
  
      .buttons .button4 {

         margin-right: 15px !important;
        /* margin-top: 6px;  */
        transform: translate(220px,-42px); 
      }

      .buttons .button5 {

         /* margin-right: 15px !important; */
         margin-top: 6px;  
        transform: translateX(-61px); 
      }

      .buttons .button6 {

         /* margin-right: 15px !important; */
        margin-top: 6px;  
        transform: translateX(-61px); 
      }

      .buttons .button7 {

         /* margin-right: 15px !important; */
        /* margin-top: 6px;   */
        transform: translate( 144px,-44px); 
      }

      .buttons .button8 {

         /* margin-right: 15px !important; */
        /* margin-top: 6px;   */
        transform: translate( 140px,-44px); 
      }

      .buttons .button9 {

         /* margin-right: 15px !important; */
        /* margin-top: 6px;   */
        transform: translateX( -142px); 
      }

      .buttons .button10 {

         /* margin-right: 15px !important; */
        /* margin-top: 6px;   */
        transform: translate( 81px,-38px); 
      }

      .buttons .button11 {

         /* margin-right: 15px !important; */
        /* margin-top: 6px;   */
        transform: translate( 74px,-38px); 
      }

      .buttons .button12 {

         /* margin-right: 15px !important; */
        /* margin-top: 6px;   */
        transform: translate( 68px,-38px); 
      }

      .expand {
         
        margin-left: 10px;
        padding-right: 10px;
        width: 280px;
        /* height: 50px; */
    }

      .gap {
        height: 6px !important;
      }

      /* .buttons .button4 {

         /* margin-right: 15px !important; */
        /* margin-top: 6px;
         transform: translate(106px,-44px);
      } */
    

    .form {
      /* width: 500px !important; */
      padding-right: 140px !important;
      /* margin:auto; */
    }

    .App {
      /* background-color:#00B4DB;
      width: 400px !important; */
      height: 1600px ;
      }
    
  
  
  } 

  

  @media (min-width: 1200px) { 


    .grade_text {
      padding-left: 10px;
      /* font-size: 18px; */
    }
    
    .padding_left {
      padding-left: 200px;
    }
    
    
    .line_through {
      /* text-decoration: line-through; */
      padding-left: 240px;
    }
    
    .margin_top {
      /* margin-top: 30px; */
      padding-left:120px;
      margin-bottom: 15px;
    }
    
    .card_title {
      padding-top: 10px;
      padding-left: 20px;
    }
    
    .coupon_container {
      width: 380px;
      padding-left: 80px;
      margin-bottom: 40px !important;
    }

    .green_button {
      /* 
          background-color:#5DB11D;
          color:white; */
          transform: translateX(-2px);
           padding-top: 7px;
          padding-left: 5px;
          padding-right: 5px; 
        
        }

        .card_last_1_heading {
          padding-left: 50px;
        }
      
        .card_last_2_heading {
          padding-left: 50px;
        }

        .buttons .button6 {

          /* margin-right: 15px !important; */
         /* margin-top: 6px;   */
         transform: translate(370px,-38px); 
       }

        .buttons .button7 {

          /* margin-right: 15px !important; */
         /* margin-top: 6px;   */
         transform: translateY(-38px); 
       }

        .buttons .button8 {

          /* margin-right: 15px !important; */
         /* margin-top: 6px;   */
         transform: translateY(-38px); 
       }
        .buttons .button9 {

          /* margin-right: 15px !important; */
         /* margin-top: 6px;   */
         transform: translateY(-38px); 
       }
        .buttons .button10 {

          /* margin-right: 15px !important; */
         /* margin-top: 6px;   */
         transform: translateY(-38px); 
       }
        .buttons .button11 {

          /* margin-right: 15px !important; */
         /* margin-top: 6px;   */
         transform: translateY(-38px); 
       }
        .buttons .button12 {

          /* margin-right: 15px !important; */
         /* margin-top: 6px;   */
         transform: translateY(220px,68px) !important; 
       }

        .buttons .button12 {

          /* margin-right: 15px !important; */
         /* margin-top: 6px;   */
         transform: translate(380px,-76px) !important; 
       }
 
       .expand {
         transform: translate(-40px,-40px);
         margin-left: 60px;
       }

    .form {
      /* width: 500px !important; */
      padding-right: 170px ;
      /* margin:auto; */
    }

  }

  @media (min-width: 1445px) { 


    .buttons .button7 {

      /* margin-right: 15px !important; */
     /* margin-top: 6px;   */
     transform: translateY(6px); 
   }

    .buttons .button8 {

      /* margin-right: 15px !important; */
     /* margin-top: 6px;   */
     transform: translateY(6px); 
   }

    .buttons .button9 {

      /* margin-right: 15px !important; */
     /* margin-top: 6px;   */
     transform: translateY(6px); 
   }
    .buttons .button10 {

      /* margin-right: 15px !important; */
     /* margin-top: 6px;   */
     transform: translateY(6px); 
   }
    .buttons .button11 {

      /* margin-right: 15px !important; */
     /* margin-top: 6px;   */
     transform: translateY(6px); 
   }

    .buttons .button12 {

      /* margin-right: 15px !important; */
     /* margin-top: 6px;   */
     transform: translate(380px,-34px) !important; 
   }

   .buttons .button6 {

    /* margin-right: 15px !important; */
   /* margin-top: 6px;   */
     transform: translate(0px,0px) !important; 
 }

 .expand {
  transform: translate(16px,16px);
  margin-left: 15px;
}

  }

  @media (min-width: 1510px) { 

    .buttons .button12 {

      /* margin-right: 15px !important; */
     /* margin-top: 6px;   */
       transform: translate(0px,6px) !important; 
   }
  


  }


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
